.main-nav{
    background-color: $color_3;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1em;
    width: 9em;
    height: 100vh;
}

.main-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    &__item{
        border-bottom: 1px solid rgba($color_1, 30%);
    }
    &__link{
        line-height: 2.4;
        display: block;
        font-family: $font_title;
        text-transform: uppercase;
    }
}