.services{
    
    &__item{
        background: $color_1;
        height: 10em;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        &:nth-of-type(2){
            background: $color_2;
        }
        &:nth-of-type(3){
            background: $color_3;
            color: $color_1;
            
        }
    }
}